<div class="container">
  <button class="btn btn-primary" (click)="startProcess()">Start</button>
  <div class="toaster-success" *ngIf="result" id="successToaster">
    <span class="icon">✔</span>
    <span>Success...!
      <br>
      Migration applied successfully
    </span>
    <button class="close-btn" (click)="closeToaster()" >X</button>
  </div>
  <div class="prog" *ngIf="showPopup">
    <div class="show-hide">
      <button (click)="isExpand=!isExpand">{{ isExpand? '&#9660;' : '&#9650;'}}</button>
    </div>
    <div *ngIf="showPopup && isExpand" class="canvas canvas-bottom show" tabindex="-1" [style.display]="offcanvasVisible ? 'block' : 'none'">
      <div class="canvas-body">
        <div class="canvas-perc">
          <h4>migrating data to selected environment</h4>
          <h4>{{progress}}%</h4>
        </div>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" attr.aria-valuenow="{{progress}}"
            aria-valuemin="0" aria-valuemax="100">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>